* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: url(Images/background.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  box-shadow: 0 0 3px;
}

.timer {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  color: white;
  margin: 0 auto;
  padding-top: 35px;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

button {
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

button i {
  font-size: 2rem;
  padding: 10px;
  color: white;
  width: 50px;
}

#play {
  background-color: green;
}

#pause {
  background-color: orange;
}

#reset {
  background-color: red;
}
